---
spring:
  profiles:
    active:
      - secure

---
spring:
  profiles: insecure

---
spring:
  profiles: secure
  security:
    user:
      name: ${security.user.name}
      password: ${security.user.password}
eureka:
  instance:
    metadata-map:
      user.name: ${security.user.name}         #These two are needed so that the server
      user.password: ${security.user.password} #can access the protected client endpoints