eureka:   #<1>
  instance:
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
    statusPageUrlPath: /actuator/info      #状态地址
    healthCheckUrlPath: /actuator/health   #健康检查地址
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761}/eureka/
management:
  endpoints:
    web:
      exposure:
        include: "*"  #<2>
  endpoint:
    health:
      show-details: ALWAYS

feign:
  hystrix:
    enabled: true
          
---
spring:
  profiles:
    active:
      - secure
---
spring:
  profiles: insecure

---
spring:
  profiles: secure
  security:
    user:
      name: ${security.user.name}
      password: ${security.user.password}
eureka:
  instance:
    metadata-map:
      user.name: ${security.user.name}         #These two are needed so that the server
      user.password: ${security.user.password} #can access the protected client endpoints